.btn-style {
  padding: 0.5rem 1.3rem;
  background: #8ab4f8;
  border-radius: 5px;
  font-size: 1rem !important;
  border: 0px;
  color: #171717 !important;
  font-size: large;
  cursor: pointer;
  transition: all 0.1s;
}

.btn-style:hover {
  transform: scale(0.9);
  box-shadow: none;
}
