<section>
  <nav>
    <div class="nav-links">
      <!-- <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">COURSE</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul> -->
      <div class="app-name">
        <h2>Angular Dashboard</h2>
      </div>
      <div class="details" *ngIf="navCheck()">
        <h3>Name</h3>
        <app-button text="Log Out" (btnClick)="logOut()"></app-button>
      </div>
    </div>
  </nav>
</section>
