<div class="wrapper">
  <div class="title-text">
    <div class="title signup">Signup Form</div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp.value)">
        <div class="field">
          <input type="text" name="name" placeholder="name" ngModel required />
        </div>
        <div class="field">
          <input
            type="text"
            name="email"
            placeholder="Email Address"
            ngModel
            required
          />
        </div>
        <div class="field">
          <input
            type="password"
            name="password"
            placeholder="Password"
            ngModel
            required
          />
        </div>

        <div class="field btn">
          <div></div>
          <button class="btn-layer" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="login-link">
    <p><a routerLink="/login">Already have an account?</a></p>
  </div>
</div>
<!-- 
<pre>{{ json }}</pre> -->
<!-- <script>
        const loginText = document.querySelector(".title-text .login");
        const loginForm = document.querySelector("form.login");
        const loginBtn = document.querySelector("label.login");
        const signupBtn = document.querySelector("label.signup");
        const signupLink = document.querySelector("form .signup-link a");
        signupBtn.onclick = (()=>{
          loginForm.style.marginLeft = "-50%";
          loginText.style.marginLeft = "-50%";
        });
        loginBtn.onclick = (()=>{
          loginForm.style.marginLeft = "0%";
          loginText.style.marginLeft = "0%";
        });
        signupLink.onclick = (()=>{
          signupBtn.click();
          return false;
        });
     </script>
   -->
