<app-dashboard></app-dashboard>
<div class="dashSchedule">
  <table>
    <tr>
      <th>Lecture</th>
      <th>Time</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>Vap Lecture Monday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
    <tr>
      <td>Vap Lecture Tuesday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
    <tr>
      <td>Vap Lecture Wednesday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
    <tr>
      <td>Vap Lecture Thursday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
    <tr>
      <td>Vap Lecture Friday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
    <tr>
      <td>Vap Lecture Saturday</td>
      <td>4:00 pm - 6:00 pm</td>
      <td>
        <a
          href="https://zoom.us/j/95492062713?pwd=VlY5NVhaMlZxa0d2RkNoUDJnc0Y5QT09"
          target="_blank"
          >Zoom Link</a
        >
      </td>
    </tr>
  </table>
</div>
