table{
    width: 75vw;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #070707;
    border-style: solid;
    color: #000000;
    
}
th{
    background:rgb(49, 49, 49)	;
    color: rgb(233, 232, 232);

}
.dashSchedule{
    position: absolute;
  top: 12vh;
  left: 20vw;
}
 td, th {
    
    border-width: 2px;
  border-color: #050505;
  border-style: solid;
  padding: 5px;
  }
  td{
      text-align: center;
  }