<app-dashboard class="abc"></app-dashboard>

<div class="dashSyllabus">
  <table border="1px">
    <tr>
      <td>Course:</td>
      <td>Full stack Web Development</td>
    </tr>
    <tr>
      <td>Technology Stack:</td>
      <td>
        HTML, CSS, JavaScript, TypeScript, Angular , Node.js , ExpressJS and
        MongoDB
      </td>
    </tr>
  </table>
  <br />
  <h3>Course Description</h3>
  <p>
    In this course, participants will start from the ground up by learning how
    to implement modern web pages with HTML and CSS. Further the participants
    will enhance their web development knowledge by learning to create
    interactive pages by using popular scripting language called JavaScript.
    This Full Stack Developer Program is designed to equip participants with
    knowledge of various technologies of such as HTML, CSS, JS, Angular,
    Node.js, ExpressJS and MongoDB. The participants will be able to develop
    end-to-end front end and backend application.
  </p>
  <h3>What are the objectives of the course?</h3>
  <ul style="list-style-type: circle">
    <li>Design rich web pages using HTML tags and CSS.</li>
    <li>Use HTML to design the structure of Web pages using markup.</li>
    <li>Use various HTML elements such as Table, Lists, images and Forms.</li>
    <li>Use CSS language that describes the style of an HTML document.</li>
    <li>
      Use JavaScript with HTML to create interactive web pages , handle evnets,
      validate forms.
    </li>
    <li>
      Use jQuery light weight JavaScript Library that simplifies HTML document
      traversing, event handling, animating, and Ajax interactions for rapid web
      development.
    </li>
    <li>
      Use Bootstrap a front-end framework for faster and easier responsive web
      development
    </li>
    <li>
      Use Angular – a JavaScript framework for building web applications.
      Creates an application that include various building blocks of Angular
      application such as Components, Modules, Directives, Pipes and Services.
    </li>
  </ul>
  <br />
  <table border="1px">
    <tr>
      <td><pre> Text Mark-up Language (HTML5)</pre></td>

      <td>
        <pre>
 
       1. Introduction to HTML, Basic Structure of HTML Document, HTML Basic
       tags with its attributes - Headers, styles, paragraphs, quotations, colors,
       comments, images, links, lists, tables, Block-level Elements, iframes,
       HTML File Paths, HTML layouts, designing HTML forms
       2. HTML5 - HTML5 Introduction, HTML5 browser support, HTML5 New
       Elements,
       3. HTML5 Semantics – article, aside, details,
       figcaption,figure,footer,header
       main,mark,nav,section,summary
       4. HTML Media – audio and video
       5. HTML APIs - HTML Web Storage
       6. Creating responsive web page</pre
        >
      </td>
    </tr>
    <tr>
      <td><pre>Cascading Style Sheets (CSS)</pre></td>
      <td>
        <pre>
       1. Introduction to CSS, CSS Syntax, CSS Colors, CSS Backgrounds, CSS
       Borders, CSS Margins, CSS Padding, CSS Height/Width, CSS Box Model
       2. CSS Outline, CSS Text, CSS Fonts, CSS Icons, CSS Links, CSS Lists, CSS
       Tables, CSS Display
       3. CSS Inline-block CSS Float , CSS Align, CSS Opacity, CSS Navigation Bar,
       CSS Dropdowns
       4. CSS Forms, CSS Website Layout
       5. CSS Rounded Corners, CSS Border Images, CSS Backgrounds, CSS Colors,
       CSS Gradients
       6. CSS Text Effects, CSS Tooltips, CSS Style Images, CSS Buttons, CSS
       Pagination, CSS Multiple Columns
      </pre
        >
      </td>
    </tr>

    <tr>
      <td><pre>JavaScript (JS)</pre></td>
      <td>
        <pre>
      1. JavaScript Introduction, JS programming features- variable, operators,
      assignments, constants data types functions and variables,
      2. objects, strings , arrays, JS Date, JS Math, JS control structures , JS
      loops, let
      3. JS Object definitions, properties and methods, constructors
      4. Event Handling in JS
      5. JS HTML DOM - DOM Introduction, DOM Methods, DOM Document,
      DOM Elements, DOM CSS, Dom Events and DOM Nodes, , Working with
      forms in JS
      6. JS Ajax - AJAX Introduction, using XMLHttpRequest object in JS to
      perform AJAX operations, invoking REST APIS in JS
      7. Introduction to JSON, Handling JSON data in JS
     </pre
        >
      </td>
    </tr>
    <tr>
      <td><pre>TypeScript programming(TS)</pre></td>
      <td>
        <pre>
      1. Introduction to TypeScript,
      2. Setting up the TS development environment,
      3. Data types in TS- String, Number, boolean , object, Array, Any
      4. Variables, constants, operators in TS,
      5. Control Flow statements
      - if else
      - switch case
      - for
      - while
      - do while
      - break
      6. Functions
      - Function Types
      - Optional Parameters
     </pre
        >
      </td>
    </tr>
    <tr>
      <td><pre>MongoDB Database</pre></td>
      <td>
        <pre>
      1. Introduction to NO/SQL Databases and MongoDB
      - Performing CRUD operation on database using MongoDB Compass
      - Performing CRUD operation on database using shell commands
     </pre
        >
      </td>
    </tr>
  </table>
</div>
