<ul class="container">
  <li class="container">
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="container">
    <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
  </li>
  <li class="container">
    <a routerLink="/syllabus" routerLinkActive="active">Syllabus</a>
  </li>
  <li class="container">
    <a routerLink="/notes" routerLinkActive="active">Notes</a>
  </li>
  <li class="container">
    <a routerLink="/code" routerLinkActive="active">Code</a>
  </li>
  <li class="container">
    <a routerLink="/videos" routerLinkActive="active">Videos</a>
  </li>
</ul>
