.dash {
  background-color: #202124;
  margin-top: 10vh;
  position: fixed;
  width: 100%;
}

ul {
  width: 18vw;
  height: 90vh;
  border: 0px;
  display: flex;
  box-shadow: none;
  justify-content: space-around;
  flex-direction: column;
  background-color: #171717;
  align-items: center;
}

li {
  width: 60%;
  padding: 30px;
  background: #202124;
  border-radius: 5px;
  border: 0px;
  box-shadow: none;
  font-size: large;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.1s;
}

li a {
  width: 60%;
  padding: 38px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

li:hover {
  transform: scale(1.1);
}

/* .active {
  color: rgb(39, 155, 184);
} */
